@tailwind base;
@tailwind components;
@tailwind utilities;


.login-page {
    background-image: url("/public/assets/img/bg_blur3.jpg");
    background-size: cover;
    color: #ffffff !important;
    background-repeat: no-repeat;
    background-position: center;
}
